[project]
channels = ["conda-forge"]
name = "biobit"
platforms = ["linux-64"]

[environments]
default = ["docs", "rust", "python", "py-3-13t"]   # Full development environment with the latest Python
docs = ["docs", "py-3-13t"]                        # Minimal env for documentation
rust = ["rust", "py-3-13t"]                        # Rust-only environment

# Python-specific environments
py-3-13t = ["rust", "python", "py-3-13t"]

# Common tasks
[tasks]
ci = { depends-on = ["build-docs", "rs-ci", "py-ci"] }  # Run all CI tasks

########################################################################################################################
# Docs [mkdocs]
########################################################################################################################
[feature.docs.pypi-dependencies]
mkdocs = "==1.6.1"
mkdocs-material = ">=9.6.11, <10"

[feature.docs.tasks]
build-docs = { cmd = "mkdocs build", cwd = "biobit/docs" }

########################################################################################################################
# Rust
########################################################################################################################
[feature.rust.dependencies]
rust = "==1.87.0"               # .pixi/envs/default/bin
rust-src = "==1.87.0"           # .pixi/envs/default/lib/rustlib/src/rust

[feature.rust.tasks]
rs-upgrade = "cargo upgrade --incompatible allow && cargo update"
rs-ci-fmt = "cargo fmt --all -- --check"
rs-ci-check = "cargo check --all-features"
rs-ci-clippy = "cargo clippy --all-features"
rs-ci-test = "cargo test --all-features"
rs-ci = { depends-on = ["rs-ci-fmt", "rs-ci-check", "rs-ci-clippy", "rs-ci-test"] }

[feature.rust.tasks.code2prompt]
cmd = [
    "code2prompt", "--full-directory-tree", "--sort", "name_asc",
    "--exclude", "biobit/docs/site", "--exclude", "target", "--exclude", "resources", "--exclude", "obsolete",
    "--exclude", "pixi.lock", "--exclude", "llm-context.md",
    "-O", "llm-context.md", "."
]

########################################################################################################################
# Python
########################################################################################################################
[feature.python.dependencies]
pixi-pycharm = "==0.0.8"
pip = "==25.0.1"

[feature.python.tasks]
py-ci-ruff = "ruff check"
py-ci-mypy = { cmd = "mypy --config-file pyproject.toml .", cwd = "biobit/py" }
py-ci-build = { cmd = "maturin develop", cwd = "biobit/py", depends-on = ["py-ci-ruff", "py-ci-mypy"] }
py-ci-test = { cmd = "pytest -v -x biobit/py", depends-on = ["py-ci-build"] }
py-ci = { depends-on = ["py-ci-test"] }

[feature.python.pypi-dependencies]
mypy = "==1.15.0"
ruff = "==0.11.2"
maturin = ">=1.8,<2.0"
pytest = "==8.3.5"
pytest-env = ">=1.1.5,<2"
attrs = "==25.3.0"
cattrs = { version = "==24.1.2", extras = ["pyyaml"] }
PyYAML = "==6.0.2"
pandas = "==2.2.3"
pandas-stubs = "==2.2.3.241126"

[feature.py-3-13t.dependencies]
python-freethreading = "3.13.*"
